@page
@model Frontend_Mega_Recruitment.Models.LoginModel
@{
}

<form method="post" asp-action="Login">
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>